extends ./layout.jade

block content
  div.container(role="main")
    div.jumbotron
      h1 Game Curator
    div.game-list
      form(action="/generate", method="post")
        each game, index in games
          div.checkbox
            label.game
              input(type="checkbox", name="games", value=index)
              =game.name
          if game.expansions
            each expansion, expansionIndex in game.expansions
              div.checkbox
                label.expansion
                  input(type="checkbox", name="expansions[g"+index+"]", value=expansionIndex)
                  =game.name + ": " + expansion.name 
        input(class="btn btn-primary", type="submit", value="Generate booklet")
